@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    @apply transition-all;
  }
  :root {
    --primary-color: #000000;
    --secondary-color: #404040;
    --tertiary-color: #d4d4d4;
    --quartinary-color: #e5e5e5;
    --navbar-color: #000000;
    --background-color: #ffffff;
    --nav-background-color: #ffffff;
    --nav-primary-color: #000000;
    --nav-secondary-color: #404040;
    --table-odd: #e5e5e5;
    --table-hover: #d4d4d4;
    --dash-odd: #ffffff;
    --dash-even: #ffffff;
    --dash-radius: 5px;
  }

  .Default-Light {
    --primary-color: #000000;
    --secondary-color: #5e5e5e;
    --tertiary-color: #d4d4d4;
    --quartinary-color: #e5e5e5;
    --navbar-color: #000000;
    --background-color: #ffffff;
    --nav-background-color: #ffffff;
    --nav-primary-color: #000000;
    --nav-secondary-color: #404040;
    --table-odd: #e5e5e5;
    --table-hover: #d4d4d4;
    --dash-odd: #ffffff;
    --dash-even: #ffffff;
  }

  .Default-Dark {
    --primary-color: #ffffff;
    --secondary-color: #d4d4d4;
    --tertiary-color: #404040;
    --quartinary-color: #2e2e2e;
    --navbar-color: #000000;
    --background-color: #1a1a1a;
    --nav-background-color: #ffffff;
    --nav-primary-color: #000000;
    --nav-secondary-color: #404040;
    --table-odd: #2e2e2e;
    --table-hover: #404040;
    --dash-odd: #404040;
    --dash-even: #404040;
  }

  .Purple-Light {
    --primary-color: #c5cae9;
    --secondary-color: #660808;
    --tertiary-color: #ffffff;
    --quartinary-color: #1074ba;
    --navbar-color: #000000;
    --background-color: #ffffff;
    --nav-background-color: #ffffff;
    --nav-primary-color: #383026;
    --nav-secondary-color: #404040;
    --table-odd: #e4e7f7;
    --table-hover: #c5cae9;
    --dash-odd: #c5cae9;
    --dash-even: #e4e7f7;
  }

  .Modern {
    --primary-color: #2f2a84;
    --secondary-color: #4641a8;
    --tertiary-color: #5a52fe;
    --quartinary-color: #1074ba;
    --navbar-color: #5a52fe;
    --background-color: #e4e7f7;
    --nav-background-color: #ffffff;
    --nav-primary-color: #5a52fe;
    --nav-secondary-color: #837cfe;
    --table-odd: #cac7fe;
    --table-hover: #837cfe;
    --dash-odd: #d0d6fe;
    --dash-even: #d0d6fe;
    --dash-radius: 20px;
    cursor: url("../public/cursorModern.png"), auto;
  }
}
